{% extends 'base.html' %}
{% block content %}

<!-- Tabs navs -->
<ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="ex1-tab-1" data-toggle="tab" href="#ex1-tabs-1" role="tab"
      aria-controls="ex1-tabs-1" aria-selected="true">Introduction</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="ex1-tab-2" data-toggle="tab" href="#ex1-tabs-2" role="tab" aria-controls="ex1-tabs-2"
      aria-selected="false">Overview</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="ex1-tab-3" data-toggle="tab" href="#ex1-tabs-3" role="tab" aria-controls="ex1-tabs-3"
      aria-selected="false">Table</a>
  </li>
</ul>
<!-- Tabs navs -->

<!-- Tabs content -->
<div class="tab-content" id="ex1-content">
  <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1">
    <div class="container">
      <div class='row'>
        <b><p>How many people have been vaccinated in each state? This map shows each state’s percentage of people who have been fully vaccinated. If you hover over each state, you will be able to see the states's name, percentage of fully vaccinated people and the state's coordinates.</p></b>
          {{ div_map | safe }}
          <!-- {{ script | safe }} -->

          <b><p>The following 2 line charts represent the state's data for the past 7 days on total vaccinations and percentage of fully vaccinated people respectively.</p></b>

          {{ div_line | safe }}
          <!-- {{ script_line | safe }} -->

    </div> 
    </div>
  </div>
  <div class="tab-pane" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
    <h2 class="text-center"><u>Overview</u></h2><br>
    <div class="container" style="width:500px; border: 1px solid black;margin-left:200px;margin-top:100px;">
     
      {{ div_bar | safe }}

      <!-- {{ script_bar | safe }} -->
    </div>
  
  </div>
  <div class="tab-pane" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">
    <div class="container">
    <!-- <div class='row'>
      <div class='column' style="width:500px;"> -->
      <h2 class="text-center"><u>Vaccinations Totals Per State</u></h2><br>
      <b><p style="width:70%;margin-left:100px;">This Table shows COVID-19 Vaccinations statistics on each state - State Pupulation, Daily Vaccinations, Doses Needed, Total Vaccinations Percentage. Each state can be searched/filtered by entering the state's name.</p></b>
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search State's Name. Ex: 'New York State'" style="width:500px;margin-left:100px;">
      <br></br>
          <table id="myTable" class="table table-dark table-striped" style="width:500px; border: 1px solid black;margin-left:100px;">
            <thead>
              <tr>
                <th>Rank</th>
                <th>State Abbreviations</th>
                <th>Location (USA State)</th>
                <th>State Pupulation</th>
                <th>Commulative Daily Vaccinations</th>
                <th>Doses Needed</th>
                <th>Total Vaccinations Percentage</th>
              </tr>
            </thead>
            <tbody>
              <!-- jinja2 Technique -->
              {% if d %}
              {% for i in d %}
              <tr>
                <td>{{ i.Rank }}</td>
                <td>{{ i.state }}</td>
                <td>{{ i.location }}</td>
                <td>{{ i.state_population }}</td>
                <td>{{ i.daily_vaccinations }}</td>
                <td>{{ i.doses_needed }}</td>
                <td>{{ i.perc_daily_vacc_pop }}</td>
              </tr>
              {% endfor %}
              {% endif %}
            </tbody>
          </table>
        <script>
          function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
              td = tr[i].getElementsByTagName("td")[2];
              if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                  tr[i].style.display = "";
                } else {
                  tr[i].style.display = "none";
                }
              }       
            }
          }
          </script>
  </div>
  </div>
</div>
<!-- Tabs content -->

{{ script | safe }}

</body>
{% endblock %}